.bluebar {
    padding-top: 0.3%;
    margin: 0px;
    background-color: #002868;
}

.redbar {
    padding-top: 0.3%;
    margin: 0px;
    background-color: #ef2b2d;
}

.whitebar {
    padding-top: 0.3%;
    margin: 0px;
    background-color: #ffffff;
}

.rainbow_group {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbar {
    margin-top: 0.9%;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    z-index: 5;
}

.logo {
    padding: 3%;
}

.splash {
    height: 100%;
    width: 100%;
}

.black_box_desc {
    margin: 0px;
    padding-top: 40px;
    background-color: #000000;
}

.black_box_desc_div {
    margin-left: 20%;
    padding-top: 4px;
    width: 60%;
    background-color: #000000;
}

.black_box_desc_employee {
    margin: 0px;
    padding-top: 100px;
    background-color: #000000;
}

.center_box_heading {
    text-align: center;
    font-size: 35px;
    color: white;
    padding-bottom: 40px;
}

.center_box_heading_employee {
    text-align: center;
    font-size: 30px;
    color: white;
    padding-bottom: 20px;
}

.center_box_desc {
    text-align: center;
    font-size: 18px;
    color: white;
    padding-bottom: 1%;
    padding-left: 25%;
    padding-right: 25%;
}

.center_splash_heading {
    position: inline;
    font-size: 50px;
}

.flex-container {
    display: flex;
    height: 200px;
    align-items: center;
}

.product_block {
    padding-top: 4%;
    padding-bottom: 2%;
}

.buffer {
    padding: 4px;
}

.flag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.card_button {
    padding-top: 5%;
}

.card-title {
    font-size: 33px;
}

.card-text {
    padding-top: 4%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    text-align: justify;
}

#submit {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.nav-link {
    margin-right: 20px;
    margin-left: 20px;
    color: #000000;
}

.card-title,
.center_box_heading {
    font-family: 'javanese-text';
}

.card-text,
.center_box_desc {
    font-family: 'Kollektif';
}

.card {
    border: none;
}

.login-form {
    width: 340px;
    margin: 50px auto;
    border: #000000;
    border-width: 2px;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
    background-color: #000000;
}

.pull-right {
    color: #000000;
}

.body {
    overflow-x: hidden;
}


/*==================== 
	Footer 
====================== */


/* Main Footer */

footer .main-footer {
    padding: 20px 0;
    background: #000000;
}

footer ul {
    padding-left: 0;
    list-style: none;
}


/* Copy Right Footer */

.footer-copyright {
    background: #222;
    padding: 5px 0;
}

.footer-copyright .logo {
    display: inherit;
}

.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright nav ul li {
    border-left: 1px solid #000000;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

.footer-copyright nav ul li a {
    color: #000000;
}

.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}

.footer-copyright p {
    color: #000000;
    margin: 2px 0 0;
}


/* Footer Top */

.footer-top {
    background: #000000;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #222;
}


/* Footer transparent */

footer.transparent .footer-top,
footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}


/* Footer light */

footer.light .footer-top {
    background: #ffffff;
}

footer.light .main-footer {
    background: #ffffff;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}


/* Footer 4 */

.footer- .logo {
    display: inline-block;
}


/*==================== 
	Widgets 
====================== */

.widget {
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Kollektif';
}

.widget.widget-last {
    margin-bottom: 0px;
}

.widget.no-box {
    padding: 0;
    background-color: transparent;
    margin-bottom: 40px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.widget.subscribe p {
    margin-bottom: 18px;
}

.widget li a {
    color: #ffffff;
}

.widget li a:hover {
    text-decoration: none;
    color: #bfbfbf;
}

.widget-title {
    margin-bottom: 20px;
}

.widget-title span {
    background: #ffffff none repeat scroll 0 0;
    display: block;
    height: 1.7px;
    margin-top: 10px;
    position: relative;
    width: 100%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.widget .badge {
    float: right;
    background: #000000;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #fff;
}


/*
    Login box from https://startbootstrap.com/snippets/login/
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}